<ion-header>
  <ion-toolbar>
    <ion-title>Projeto Casa de Praia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="tela-sobre-projeto-container">
  <div class="card">
    <div class="primary-topic">
      <h2>• Situação atual</h2>
      <h3>Etapa anterior</h3>
      <p>- Reunião de briefing</p>
      <h3>Etapa atual</h3>
      <p>- Definição de RT</p>
      <h3>Próxima etapa</h3>
      <p>- Reunião com M.O</p>
    </div>

    <div class="secondary-topic">
      <h2>• Sobre a obra</h2>
      <h3>Endereço</h3>
      <p>- Av. Estefânia Carneiro. 171 PE - Carpina - Centro</p>
      <h3>Tamanho</h3>
      <p>- 90m²</p>
      <h3>Tipo de obra</h3>
      <p>- Residencial</p>
      <h3>Orçamento atual</h3>
      <p>- R$9.812,60</p>
    </div>

    <div class="inner-buttons-container">
      <ion-button expand="block" class="inner-button">Características do projeto</ion-button>
      <ion-button expand="block" class="inner-button">Características do ambiente</ion-button>
    </div>

    <p class="status">
      Status: em andamento... Progresso: 30%
      <br />
      Início: 20/06/2023 Previsão de entrega: 05/2024
    </p>
  </div>

 
</ion-content>
