.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 16px;
  height: 100%;
}



ion-item {
  margin-top: 12px;
  --background: #728056;
  border-radius: 10px;
}

ion-input {
  --color: white;


  --background: transparent;
  --padding-start: 0px;
  font-size: 16px;
  height: 40px;
}

ion-button {
  margin-top: 20px;
}

ion-label {
  --color: white;
}