<ToolbarVoltar 
  [title]="'Dados do Cliente'" 
  [defaultHref]="'/projetos-home'">
</ToolbarVoltar>

<ion-content [fullscreen]="true">
  <div class="container">

    <InputLink 
      placeholder="Nome do cliente" 
      [(ngModel)]="clienteData.nome" 
      [text]="'Nome'" 
      keyboardType="text"
      autoCapitalize="none">
    </InputLink>

    <InputLink 
      placeholder="Endereço do cliente" 
      [(ngModel)]="clienteData.endereco" 
      [text]="'Endereço'" 
      keyboardType="text"
      autoCapitalize="none">
    </InputLink>

    <InputLink 
      placeholder="Telefone do cliente" 
      [(ngModel)]="clienteData.telefone" 
      [text]="'Telefone'" 
      keyboardType="tel"
      autoCapitalize="none"
      [maxlength]="11">
    </InputLink>

    <InputLink 
      placeholder="E-mail do cliente" 
      [(ngModel)]="clienteData.email" 
      [text]="'E-mail'" 
      keyboardType="email"
      autoCapitalize="none">
    </InputLink>

    
    <div class="select-container">
      <label for="tipo-cliente">Classificação do cliente *</label>
      <select id="tipo-cliente" [(ngModel)]="clienteData.tipoCliente" (change)="onTipoClienteChange($event)">
        <option value="pessoaFisica">Pessoa Física</option>
        <option value="pessoaJuridica">Pessoa Jurídica</option>
      </select>
    </div>

    <ButtonLink [routerLink]="['/dados-projeto']" text="Salvar e continuar"></ButtonLink>

  </div>
</ion-content>
