ion-toolbar {
    --background: #3A5340;
    --border-color: #e0e0e0;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  
  ion-title {
    font-weight: bold;
    text-align: center;
  }