.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  --background: #728056; /* Matches the olive-green background */
}

.container-image {
  width: 90%;
  margin-top: 8%;
  margin-bottom: 15%;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

ion-item {
  --background: transparent;
  --border-color: white;
  --border-width: 1px;
  margin-bottom: 12px;
  width: 100%; /* Ensure it takes full width of the container */
}

ion-input {
  color: white;
  font-size: 16px;
}

WhiteButton {
  --background: #ff6347; /* Tomato color for the button */
  --color: white;
  margin-top: 30px;
  width: 100%;
}

ion-input::placeholder {
  color: white;
}
